[submodule "h-shop-be-api-gateaway"]
	path = h-shop-be-api-gateaway
	url = https://github.com/duyhung2k4/h-shop-be-api-gateaway.git
[submodule "h-shop-fe"]
	path = h-shop-fe
	url = https://github.com/duyhung2k4/h-shop-fe.git
[submodule "h-shop-be-account"]
	path = h-shop-be-account
	url = https://github.com/duyhung2k4/h-shop-be-account.git
[submodule "h-shop-be-shop"]
	path = h-shop-be-shop
	url = https://github.com/duyhung2k4/h-shop-be-shop.git
[submodule "h-shop-be-product"]
	path = h-shop-be-product
	url = https://github.com/duyhung2k4/h-shop-be-product.git
[submodule "h-shop-be-file"]
	path = h-shop-be-file
	url = https://github.com/duyhung2k4/h-shop-be-file.git
[submodule "h-shop-be-warehouse"]
	path = h-shop-be-warehouse
	url = https://github.com/duyhung2k4/h-shop-be-warehouse.git
[submodule "h-shop-be-order"]
	path = h-shop-be-order
	url = https://github.com/duyhung2k4/h-shop-be-order.git
[submodule "h-shop-be-search"]
	path = h-shop-be-search
	url = https://github.com/duyhung2k4/h-shop-be-search.git
[submodule "h-shop-be-consumer-product"]
	path = h-shop-be-consumer-product
	url = https://github.com/duyhung2k4/h-shop-be-consumer-product.git
[submodule "h-shop-fe-owner-shop"]
	path = h-shop-fe-owner-shop
	url = https://github.com/duyhung2k4/h-shop-fe-owner-shop.git
